[submodule "src/agentic-metadata"]
	path = src/agentic-metadata
	url = git@github.com:SparkyDaBear/aMeti.git
[submodule "submodules/runassessor"]
	path = submodules/runassessor
	url = https://github.com/RunAssessor/RunAssessor.git
